/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body{
	margin-left: 40px;
	margin-right: 40px;
}
nav{
	display: block;
}
nav a{
	display: inline-block;
	padding: 25px;
}
nav .logo{
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 0px;
	margin-left: 60px;
}
button{
	padding: 10px 40px;
	font-weight:bold;
	font-size: 15px;
}

header{
	display: block;
	padding: 20px;
}
.middle-img{
	width: 100%;
	margin: 30px 0px 30px 0px;
}
.intro{
	display:inline-block;
	width: 100%;
	text-align: left;
}
.body1{
	display: inline-block;
	width:48%;
	padding: 20px 20px 20px 0px;;
}
.body2{
	display: inline-block;
	width:33%;
	padding: 20px 20px 20px 0px;
}
.middle{
	width: 100%;
}
.div1 h1{
	font-size: 60px;
}
header .div1{
	display: inline-block;
	width: 50%;
	vertical-align: top;
	text-align: center;
	margin-top: 50px;
}
footer{
	text-align: left;
}
.foot{
	text-align: center;
	padding: 50px;
}